.accordion input:checked~.article.ac1{
    height: 620px;
}

.accordion input:checked~.article.ac2{
    height:140px;
}

.ac1 a,.ac2 a{
    color: #000;
    font-size: 1.3em;
    padding: 0 50px;
    text-decoration: none;
}

a:hover{
    color: #2c66d1;
}

@media all and (max-width:856px){
    .ac1 a,.ac2 a{
        padding: 0;
    }
}